@page "/"
@using LearningBlazor.Component.Capture1
@using LearningBlazor.Component.DataExchange

<h1>Hello, world!</h1>

Welcome to your new app.

<Component1 Title="Blazor">
    Do you want to
    <i>learn more</i> about Blazor?
</Component1>

<ComponentA Title="ComponentA" Id="componentA" />
<ComponentA Title="ComponentB" Id="componentB" />


